* {
    box-sizing: border-box;
}

#main {
    display: flex;
}

.title {
    background-color: #000080;
    background-image: linear-gradient(190deg, #000080 0%, #0000FF 50%, #4682B4 85%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    display:flex;
    justify-content: center;
}

.searchCity {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
}

.five{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold; 
}

.btn btn-info{
    display: inline;
}

#recent {
    border: 1em;
}

#future {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: space-between;
}

.card-style{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
justify-content: space-around;
}

.cityBtn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}